PORT=5000
MONGO_URI=mongodb+srv://Ankit_Jha:<db_password>@adhikaar.c1wphwz.mongodb.net/adhikaar_ai?retryWrites=true&w=majority
PYTHON_SERVICE_URL=http://localhost:8000
INTERNAL_SECRET=adhikaar_internal_secret_key_2026
